

<h1>Avisos</h1>

    <div class="cards">

        <div class="card">
            
            <img src="../../assets/img/avisos.png" alt="">

        </div>
        <div class="card">
            
            <img src="../../assets/img/avisos.png" alt="">

        </div>
        <div class="card">
            
            <img src="../../assets/img/avisos.png" alt="">

        </div>
        <div class="card">
            
            <img src="../../assets/img/avisos.png" alt="">

        </div>
    </div>