

.head{

    .headContent{
    
        background-color: rgb(80, 131, 80);
        margin: 0;
        padding: 10px;
        display: flex;
        .logo{
            margin: 20px;
            height: 50px;
            background-color: rgb(198, 255, 198);
            padding: 5px;
            border-radius: 5px;
        }
        h1{
            color: rgb(198, 255, 198);
            margin: auto;

            
        }
}
}